body{
	background-color:grey;
}

#usernameInput{
	position:absolute;
	top:47.5%;
	left:35%;
	width:30%;
	height:5%;
}

#chat {
	position:absolute;
	height:100%;
	width:30%;
	bottom:0;
	right:0;
	display:flex;
}

#messages{
	position:absolute;
	top:49%;
	width:100%;
	height:42.5%;
	overflow-y:auto;
	display:flex;
	flex-direction: column-reverse;
	margin-bottom: -100px;
	
}

.message{
	color:white;
	margin: 10 0 0 0;
}

#chatInputArea{
	position:absolute;
	width:100%;
	height:5%;
	bottom:0;
}

#chatInput{
	position:absolute;
	height:100%;
	width:93%;
}

#gameArea{
	position: absolute;
	left: 50%;
	top: 50%;
	background-color:black;
}

canvas {
	width:100%;
	height:100%;
}
