body{
	background-color:grey;
}

#chat {
	position:absolute;
	height:100%;
	width:30%;
	bottom:0;
	right:0;
	display:flex;
}

#messages{
	position:absolute;
	top:0;
	width:100%;
	height:95%;
	overflow-y:auto;
	display:flex;
	flex-direction: column-reverse;
	margin-bottom: -100px;
	
}

.message{
	color:white;
	margin: 10 0 0 0;
}

#chatInputArea{
	position:absolute;
	width:100%;
	height:5%;
	bottom:0;
}

#chatInput{
	position:absolute;
	height:100%;
	width:80%;
}

#sendButton{
	position:absolute;
	height:100%;
	width:20%;
	right:0;
}

#gameArea{
	position: absolute;
	left: 50%;
	top: 50%;
	background-color:black;
}

canvas {
	width:100%;
	height:100%;
}
